@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-img {
  position: absolute;
  background-size: 111px 74px;
}

.navigation {
  background-size: 20px 14px;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

p {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

h2 {
  border: 1px solid #1a2236;
  padding: 12px 60px 11.53px 60px;
  background-color: #1a2236;
  margin-top: 20px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.portfolio-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.background-icons {
  display: flex;
  justify-content: space-between;
}

.menu-btn {
  height: 20px;
  width: 20px;
  margin: 20px 20px;
}

.main-header {
  margin: 15px;
  display: flex;
  justify-content: space-around;
}

.header {
  margin: 20px 0;
}

.header-div p {
  margin-bottom: 20px;
}

.btn-section {
  margin: 20px;
}

.portfolio-header {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: stretch;
}

.header-2 {
  padding: 20px;
}

.main-background {
  width: 100%;
  height: 100%;
}

.image-1 {
  width: 100%;
  height: 100%;
}

.image-2 {
  width: 100%;
  height: 100%;
}

.image-3 {
  width: 100%;
  height: 100%;
}

.image-4 {
  width: 100%;
  height: 100%;
}

.image-5 {
  width: 100%;
  height: 100%;
}

.image-6 {
  width: 100%;
  height: 100%;
}

.header-div {
  display: grid;
}

.project-header {
  display: grid;
}

.project-details {
  background: #1a2236;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 20px;
}

.project-info {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
  padding: 0;
  margin: 0;
  display: inline;
  text-align: left;
}

.info {
  background-color: #1a2236;
  gap: 15px;
  list-style: none;
  display: flex;
}

.info > li {
  font-family: "Poppins", sans-serif;
  font-size: 10.3334px;
  padding: 5px 7px;
  background: #98dede;
}

.more-info {
  background: #1a2236;
}

.more-info > button {
  background: #1a2236;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  padding: 20px;
}

.fas {
  color: white;
}

.main-info {
  display: grid;
  margin: 40px 0 0 0;
}

.header-3 {
  font-family: "Playfair Display", sans-serif;
  font-size: 50px;
  line-height: 50px;
  vertical-align: top;
  padding: 16px;
  color: #1a2236;
}

.p-2 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 100%;
  vertical-align: top;
  color: #1a2236;
  padding: 16px;
}

.downlaod-icon {
  background: #1a2236;
  color: #fff;
  padding: 16px 120px;
  margin: 20px;
  cursor: pointer;
}

.more-info-1 {
  padding: 10px;
  display: grid;
}

.more-info-2 {
  background: #1c528a;
  padding: 16px;
  margin: 20px;
  gap: 20px;
}

.more-info-3 {
  background: #e2505c;
  padding: 16px;
  margin: 20px;
  gap: 20px;
}

.more-info-4 {
  background: #febf52;
  padding: 16px;
  margin: 20px;
  gap: 20px;
}

.large {
  color: #fff;
  padding-left: 50px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.mini {
  color: #fff;
  padding-left: 50px;
  margin: 15px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.background-11 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.small-image {
  width: 96px;
  height: 96px;
  align-self: baseline;
}

.footer {
  left: -2px;
  top: 4129px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  background: #f9f9fa;
}

.background-image {
  width: 111px;
  height: 74.02px;
}

.footer-header {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  padding: 16px;
  color: #1a2236;
}

.footer-p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.01em;
  padding: 16px;
  color: #1a2236;
}

.form {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form-container {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.form-label {
  padding: 10px;
}

.name {
  width: 288px;
  height: 52px;
  left: 16px;
  top: 4400px;
  background: #fff;
  border: 1px solid #dfdfe0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 33px;
}

.email {
  width: 288px;
  height: 52px;
  left: 16px;
  top: 4400px;
  background: #fff;
  border: 1px solid #dfdfe0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 33px;
}

.text-area {
  width: 288px;
  height: 112px;
  left: 16px;
  top: 4520px;
  background: #fff;
  border: 1px solid #dfdfe0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding-left: 16px;
  padding-top: 4px;
}

.start-btn-div {
  padding: 16px;
}

.start-btn-2 {
  width: 100%;
  border: 1px solid #1a2236;
  padding: 12px 90px;
  background-color: #1a2236;
  margin-top: 20px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.credentials {
  width: 100%;
  height: 150px;
  top: 4760px;
  margin-top: 64px;
  background: #1a2236;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-around;
}

.credentials-div {
  padding: 16px;
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  cursor: pointer;
}

.resume-link {
  width: 127px;
  height: 24px;
  left: 16px;
  top: 4792px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #92dcdc;
}

.link-img {
  width: 22px;
  height: 22px;
  left: 158px;
  top: 4793px;
  background: #92dcdc;
}

.contact-handle {
  width: 100%;
  display: inline;
  text-align: left;
}

.list-items {
  width: 100%;
  height: 24px;
  left: 16px;
  top: 4846px;
  background-color: #1a2236;
  gap: 29px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
  margin-bottom: 40px;
  cursor: pointer;
}

.list-items-1 {
  width: 24px;
  height: 24px;
  left: 16px;
  top: 4846px;
}

.list-items-2 {
  width: 24px;
  height: 24px;
  left: 69px;
  top: 4846px;
}

.list-items-3 {
  width: 24px;
  height: 24px;
  left: 122px;
  top: 4846px;
}

.list-items-4 {
  width: 24px;
  height: 24px;
  left: 175px;
  top: 4846px;
}

.list-items-5 {
  width: 24px;
  height: 24px;
  left: 228px;
  top: 4846px;
}

.list-items-6 {
  width: 24px;
  height: 24px;
  right: 16px;
  top: 4846px;
}

button:hover {
  background-color: #0c2a75;
  color: #fff;
}

button:active {
  background-color: #052b8a;
  transition: 0.3s;
}

button:disabled {
  background-color: #fff;
  color: #010203;
  border: 1px solid #e5e5e5;
}


@media all and (max-width:500px) {
   
} 