@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-img {
  position: absolute;
  background-size: 111px 74px;
}

.navigation {
  background-size: 20px 14px;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

p {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

h2 {
  border: 1px solid #1a2236;
  padding: 12px 60px 11.53px 60px;
  background-color: #1a2236;
  margin-top: 20px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.portfolio-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.background-icons {
  display: flex;
  justify-content: space-between;
}

.menu-btn {
  height: 20px;
  width: 20px;
  margin: 20px 20px;
}

.main-header {
  margin: 15px;
  display: flex;
  justify-content: space-around;
}

.header {
  margin: 20px 0;
}

.header-div p {
  margin-bottom: 20px;
}

.btn-section {
  margin: 20px;
}

.portfolio-header {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: stretch;
}

.header-2 {
  margin: 20px;
}

.main-background {
  width: 100%;
  height: 100%;
}

.image-1 {
  width: 100%;
  height: 100%;
}

.image-2 {
  width: 100%;
  height: 100%;
}

.image-3 {
  width: 100%;
  height: 100%;
}

.image-4 {
  width: 100%;
  height: 100%;
}

.image-5 {
  width: 100%;
  height: 100%;
}

.image-6 {
  width: 100%;
  height: 100%;
}

.header-div {
  display: grid;
}

.project-header {
  display: grid;
}

.project-details {
  background: #1a2236;
  padding-left: 15px;
  gap: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
}

.project-info {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
  padding: 0;
  margin: 0;
  display: inline;
  text-align: left;
}

.info {
  background-color: #1a2236;
  gap: 15px;
  list-style: none;
  display: flex;
}

.info > li {
  padding: 5px 7px;
  background: #98dede;
}

.more-info {
  background: #1a2236;
  padding: 5px 7px;
}
/* 
.more-info > button {
  background: #1a2236;
  border: 2px solid white;
  color: white;
}

.fas {
  color: white;
}

.main-info {
  display: grid;
}

.header-3 {
  font-family: "playfair display", sans-serif;
  font-size: 50px;
  line-height: 50px;
  line-height: 100%;
  vertical-align: top;
  padding: 16px;
  color: #1a2236;
}

.p-2 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 100%;
  vertical-align: top;
  color: #1a2236;
  padding: 16px;
}

.downlaod-icon {
  background: #1a2236;
  color: #fff;
  padding: 16px 120px;
  margin: 20px;
}

.more-info-1 {
  padding: 10px;
  display: grid;
}

.more-info-2 {
  background: #1c528a;
  padding: 16px;
  margin: 20px;
  gap: 20px;
}

.more-info-3 {
  background: #e2505c;
  padding: 16px;
  margin: 20px;
  gap: 20px;
}

.more-info-4 {
  background: #febf52;
  padding: 16px;
  margin: 20px;
  gap: 20px;
}

.large {
  color: #fff;
  padding-left: 50px;
}

.mini {
  color: #fff;
  padding-left: 50px;
  margin: 15px;
}

.background-11 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.small-image {
  width: 96px;
  height: 96px;
  align-self: baseline;
}

/* @media only screen and (max-width: 375px) {
  /* For mobile phones: */

/* /.portfolio-wrap {
    padding: 20px;
  }
}
*/ */
